body{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    background: #999999; 
}

/* Styles pour le header */
header {
    display: flex; 
    justify-content: space-between; /* Espacement égal entre les éléments horizontaux */
    align-items: center; /* Centre les éléments verticalement */
    padding: 10px; 
    text-align: right; 
}

.logo_site {
    width: 30%; /* Limite la hauteur du logo */
    height: auto;
}

.img_anglais {
    max-height: 40px; /* Limite la hauteur de l'image du drapeau anglais */
    float: right;
    margin: 100px;
}

.banniere{
    margin: 300px;
}

.liens_header {
    display: flex; /* Utilisez un affichage flexible pour aligner les liens horizontalement */
    gap: 100px; /* Espacement entre les liens */
}